*.log
*.pid
*.seed
*.tgz
.*ignore
.circleci
.editorconfig
.babelrc
.eslintrc*
.github
.gitignore
.gitlab-ci.yml
.grunt
.lock-wscript
.node_repl_history
.nyc_output
.stylelintrc*
.travis.yml
.vscode
app.asar
app.asar.unpacked/
app/
appveyor.yml
coverage
gulpfile.js
lib-cov
logs
node_modules
npm-debug.log*
pids
test
src
